{% extends 'blog/base.html' %}
{% block content %}
<div class="about_me">
<p class="title">About Me</p>
<div class="about_me_contents">
  <a><img src="/static/real_face.jpg"></a>
  <p>学生です。</br>Raspberry Piを触ったことをきっかけにプログラミングに興味を持つようになりました。</br>
     Djangoを勉強したいと思い、このサイトを作成しました。</br>
     楽しみながら、学んでいきたいです。</br>
     主にプログラミング系のことを書いていく予定ですが、勉強用に作成したサイトなので記事の更新はしなくなるかもしれません。</br>
     このサイトに色々な機能を追加する予定です。</br>
     Mashihiko's Blogの文字が乗っている画像は、中学の美術の時間にかいたものです。
     </p>
</div>
</div>
{% endblock %}
