{% load static %}
<html>
    <head lang="ja">
        <title>Django Boys blog</title>
　　    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="fixed">
        <div class="page-header">
            <h1><a href="/"  style="text-decoration:none;">Django Boys Blog</a></h1>
        </div>
        <div>
        <ul id="nav"   style="text-decoration:none;" >
             <li><a href="{% url 'post_list' %}" >記事一覧</a></li>
             <li><a href="#">人気ランキング</a></li>
             <li><a href="#">記事の編集</a></li>
             <li><a href="#">このサイトについて</a></li>
            </ul>
        </div>
        {% block content %}
        {% endblock %}
    </body>
</html>
