<!-- 新レイアウト-->
{% load static %}
<html>
    <head lang="ja">
        <title>Mashihiko's Blog</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/static/css/blog.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/dracula.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
        <script src="//code.jquery.com/jquery-1.12.1.min.js"></script>
        <script type="text/javascript" src='/static/js/sample.js'></script>
    </head>
<body>
     <div class="white-header">
        <ul>
	   <li><a class="active" href="{% url 'blog:aboutme' %}">About Me</a></li>
	   <!---<li><a href="#news">Contact</a></li>--->
           <li><a href="/accounts/login/" class="top-menu">
                   <span class="glyphicon glyphicon-check black" title="ログイン/ログアウトします"></span></a></li> 
           <li><a href="{% url 'blog:post_new' %}" class="top-menu">
                   <span class="glyphicon glyphicon-plus black" title="記事を追加します"></span></a></li>
        </ul>
     </div>
     <div class="top-block">
        <div id="top_pic">
           <a href="{% url 'blog:post_list' %}"><img src="/static/pic1.jpg"><a>
           <div class="blog_name">Mashihiko's Blog</div>
           <div class="sub_title">気になったこと、やったことをまとめます</div>
        </div>
        {% block content %}
        {% endblock %}       
</body>
</html>



