{% extends 'blog/base.html' %}
{% block content %}
        {% for post in posts %}
              <div class="post">
                <h2><a href="{% url 'post_detail' pk=post.pk %}"  style="text-decoration:none;">{{ post.title }}</a></h2></br>
                <p id="text">{{ post.text|linebreaksbr }}</p></br>
                <p>公開日: {{ post.published_date }}</p>
              </div>
        {% endfor %}
        <div id="plus-botton">
                   <a href="{% url 'post_new' %}" class="top-menu">
                   <span class="glyphicon glyphicon-plus-sign black" title="記事を追加します"></span></a>
        </div>
{% endblock %}
